.registerText{
  text-decoration: underline currentColor;
  cursor: pointer;
}

.buttonListElement:not(:last-child){
  margin-bottom: 5px;
}

.popoverButton{
  width: 100%;
  border: 1px solid #ffe6a3;
}

.buttonList{
  list-style: none;
  padding: 0 !important;
}

.popoverIcon{
  margin-top: 5px;
  margin-left: 5px;
}

.loginIcon{
  margin-bottom: 2px;
}
